{{> nav/nav-block}}

{{#if isloggedin}}
<div id="main-container" class="container" style="background-color:rgb(245, 245, 245); height: 900px;">
  {{!-- <div class="jumbotron text-center header-wrap" align="center"> --}}
    <h2 class="lead">Welcome to <strong>Dumbbells for Dummies</strong></h2>
    <hr class="my-4">
    <div>
        You are logged in as {{user.firstName}}
        <br>
        <a href="/logout"> <button type="button" class="btn-info logout">Logout</button></a>

      {{!-- <div class="card mt-4"> --}}
        <div class="card-body">
        <hr class="my-4">
          <h3>Workout Of The Day</h3>
        <div class="row">
          <div class="col-1">
          </div>
          <div class="col-10">
            <div id="list" class="card mt-3">
              <div  class="card-body">
                <div class="row">
                  <div class="col-7 random">
                    <h5 class="card-title">{{exercise.name}}</h5>
                    <p>
                      <i><strong>Major Muscle Group:</strong></i> {{exercise.muscle_major}}</p>
                    <p>
                      <i><strong>Minor Muscle Group:</strong></i> {{exercise.muscle_minor}}</p>
                    <p>
                      <i><strong>Exercise Type</strong></i> {{exercise.exercise_type}}</p>
                    <p>
                      <i><strong>Equipment:</strong></i> {{exercise.equipment}}</p>
                    <p>
                      <i><strong>Notes:</strong></i> {{exercise.notes}}</p>
                    <p>
                      <i><strong>Modifications:</strong></i> {{exercise.modifications}}</p>
                  </div>
                  <div class="col-5">
                    <p style="margin-top: 60px;">
                    <i><strong>How To</strong></i></p>
                    <img src='{{exerciseUrl}}' style='max-width:250px;'>
                    <button id="favorites" type="button" onclick="saveFavorites(event)" class="btn-info saveFav" value={{exercise.id}}>Add To Favorites</button>   
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      {{else}}
      <div id="main-container" class="container" style="background-color:rgb(245, 245, 245); height: 350px;">
  {{!-- <div class="jumbotron text-center header-wrap" align="center"> --}}
    <h2 class="lead">Welcome to <strong>Dumbbells for Dummies</strong></h2>
    <hr class="my-4">
    <div>
        <p>You need to log in to use this app.</p>
      {{/if}}
      <h5 id="login-err-msg"></h5>
    </div>
  </div>
</div>

<script>console.log(this)</script>
{{> modal/login-block}}

<script>console.log(this)</script>
{{> modal/login-block}}
