{{> nav/nav-block}}

<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">{{exercise.name}}</h5>
          <p>
            <strong>Major Muscle Group:</strong>: {{exercise.majormuscle}}</p>
          <p>
            <strong>Minor Muscle Group:</strong>: {{exercise.minormuscle}}</p>
          <p>
            <strong>Exercise Type</strong>: {{exercise.type}}</p>
          <p>
            <strong>Equipment:</strong> {{exercise.equipment}}</p>
          <p>
            <strong>Demonstration:</strong> {{exercise.demonstration}}</p>

            <a href="/example">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>

{{> modal/login-block}}
