{{#if exercise}}

<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          {{#each exercise}}
          <h5 class="card-title">{{this.name}}</h5>
          <p>
            <strong>Major Muscle Group:</strong>: {{this.majormuscle}}</p>
          <p>
            <strong>Minor Muscle Group:</strong>: {{this.minormuscle}}</p>
          <p>
            <strong>Exercise Type</strong>: {{this.type}}</p>
          <p>
            <strong>Equipment:</strong> {{this.equipment}}</p>
          <p>
            <strong>Demonstration:</strong> {{this.demonstration}}</p>
          {{/each}}

            <a href="/example">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>

{{/if}}